<div class="row m-b-18px">
    <div class="col-md-12">
        <!-- button to create new policy -->
        <a (click)="createPolicy()" class='btn btn-primary pull-right'>
            <span class='glyphicon glyphicon-plus'></span> Create Policy
        </a>
    </div>
</div>
 
<div class="row">
    <div class="col-md-12">
 
        <!-- HTML table for the list of policy records -->
        <table class='table table-hover table-responsive table-bordered'>
 
            <tr>
                <th>Customer</th>
                <th>Customer Address</th>
                <th>Premium</th>
                <th>Policy Type</th>
                <th>Insurer</th>
            </tr>
 
            <!-- Loop throught list of policies. -->
            <tr *ngFor="let policy of policies">
                <td>{{policy.customer_name}}</td>
                <td>{{policy.customer_address}}</td>
                <td>{{policy.premium}}</td>
                <td>{{policy.policy_type}}</td>
				<td>{{policy.insurer_name}}</td>
            </tr>
        </table>
    </div>
</div>